@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

* {
    font-family: 'Gideon Roman', serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Rush page */

/* Let's Rush */
.headerContainer {
    font-size: 2vw;
    text-align: center;
    color:#DCA543;
    padding: 20px; /* Add padding inside sections */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* What is Rush? */
.infoSection{
    background: #DCA543; 
    color: black;
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
}

/* Recruitment Schedule*/
.scheduleHeader {
    border: 2px solid #DCA543; /* Headline Border */
    padding: 10px; 
    margin-bottom: 20px; 
    text-align: center; 
}

.scheduleSection {
    background: #7B1A1A;
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
}

.scheduleBoxes {
    display: grid; 
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    gap: 10px; /*between boxes */
    margin-top: 20px; /*above the boxes */
}

.scheduleBox {
    border: 2px solid #DCA543; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50px;
    box-sizing: border-box;
    font-size: 2vw;
    overflow-y: hidden;
}

.eligibilitySection {
    background: #DCA543;
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
}

.photoGallery {
    background:#7B1A1A;
    padding: 20px;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.dot {
    height: 165px;
    width: 165px;
    background-color: #DCA543;
    border-radius: 50%;
    display: inline-block;
}

.bigWhiteText {
    font-size: 50px;
    color:white;
    padding: 20px; /* Add padding inside sections */
    text-shadow: 0 0 10px black;
    position: sticky;
    left: 1000px;
}

.overlay-image {
    position: absolute;
    top: 107px;
    left: 1205px;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    z-index: 0; /* Ensures image is layered below the text */
    opacity: 1; /* Optional: makes the image semi-transparent */
}

h2 {
    color: black;
    margin-bottom: 10px; 
}

p, ul {
    line-height: 1.6; /* Improve readability with line height */
}

ul {
    padding-left: 20px; /* Indent list items */
}

li {
    margin-bottom: 8px; /* Add spacing between list items */
}

@media (max-width: 768px) {
    .link {
        text-decoration: underline;
    }
}